* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
}

/* NAVBAR */

.navbar {
    width: 85%;
    margin: 20px auto;

    background: #2c2c2c;

    padding: 20px 40px;

    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00f2fe;
}

/* HERO */

.hero {
    text-align: center;
    margin-top: 140px;
    padding: 20px;
}

.hero h1 {
    font-size: 65px;
    margin-bottom: 25px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

/* BUTTON */

.btn {
    background: #007bff;
    color: white;

    padding: 15px 35px;

    border-radius: 10px;

    text-decoration: none;

    font-size: 20px;

    display: inline-block;

    transition: 0.3s;
}

.btn:hover {
    background: #0056b3;
    transform: scale(1.05);
}